body{
    font-family: 'Montserrat', sans-serif;
}
.App-routerProvider{
    max-width: 1280px;
    margin: auto;
    background-color: red;
}

.App-header{
    background-color: pink !important;
     font-size: 50px;
}

.App-link{
    color: green !important;
    text-decoration:none !important;
   
}

main{
    background-color: pink !;
}