.banner{
    width: 100%;
    margin: 2% 0 2% 0;
    border-radius: 10px;
    

    @media screen and (max-width: 550px){
        height: 120px;
        width: 96%;
        margin-left: 2%;
    }

}

.catalogue{
    background-color: cyan !important;
}